<div class="parent">
    <div class="top">
        <div>
            <h2>DASHBOARD</h2>
            
        </div>
        <div>
           <h2>Welcome to institute management system</h2>
        </div>
    </div>
   <div class="body">
    <div class="left">
        <div>
            <ul class="nav flex-column">
           
                <li class="nav-item">
                  <h4 class="nav-link">ALL STUDENTS</h4>
                </li>
                <li class="nav-item">
                  <h4 class="nav-link">STUDENT DETAILS</h4>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
                
            </ul>
        </div>
        <div>
            <button class="btn btn-primary">LOGOUT</button>
        </div>
    </div>
    
    <div class="right">

    </div>



   </div>
    
</div>