<div class="parent">
    <div class="top">
        <div>
            <h2>DASHBOARD</h2>
            
        </div>
        <div>
           <h2>Welcome to institute management system</h2>
        </div>
    </div>
   <div class="body">
    <div class="left">
        <div>
            <ul>
           
                <li>
                  <h4 (click)="createstudent()">CREATE STUDENT</h4>
                </li>
                <li>
                  <h4 (click)="allstudents()">ALL STUDENTS</h4>
                </li>
                <li>
                    <h4 (click)="navbar()">nav bar</h4>
                </li>
                
                
            </ul>
        </div>
        <div>
            <button class="btn btn-primary" routerLink="/login">LOGOUT</button>
        </div>
    </div>
    
    <div class="right">
        <router-outlet></router-outlet>
    </div>



   </div>
    
</div>