<div class="one">
    <div class="child">
        <div>
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropright
                </button>
                <div class="dropdown-menu">
                  <h5>praveen</h5>
                  <h5>srinu</h5>
                  <h5>ch reddy</h5>
                </div>
              </div>
        </div>
    </div>
</div>
