
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-45%);
    border: 1px solid wheat;
    width: 600px;
    height: 550px;
   
    
}
input{
    border-radius: 5px rgb(163, 217, 233);
}
.container:hover{
    box-shadow: 2px 4px 15px black;
}
label{
    width: 80px;
    display: inline-block;
}
input:hover{
    box-shadow: 1px 2px 3px;
}