
/* .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-45%);
    border: 1px solid wheat;
    width: 600px;
    height: 550px;
    overflow: auto;
   
    
} */

input{
    border-radius: 5px rgb(163, 217, 233);
}
.container:hover{
    box-shadow: 2px 4px 15px black;
}
input:hover{
    box-shadow: 1px 2px 3px;
}
.main{
    overflow: auto;
}
label{
    font-weight: 600;
    color: white;
}
