<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        
        <div class="bg-img">
            <form id="container" [formGroup]="loginUserForm">
                    <h1>Student Login</h1>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email"  formControlName="email" required>
                    <div class="error">
                        
                       
                    </div>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" formControlName="password">
                    <div class="error" *ngIf="loginUserForm.get('password')?.touched && loginUserForm.get('password')?.invalid">
                        <p *ngIf="loginUserForm.get('password')?.errors?.['required']">password is required</p>
                        <p *ngIf="loginUserForm.get('password')?.errors?.['minLenth']">password shoud be in min 8 digits/chars </p>
                        <p *ngIf="loginUserForm.get('password')?.errors?.['maxLenth']">password should be in max 10 digits/chars</p>
                    </div>
                    <button type="submit" class="btn" (click)="login()">Login</button><br><br><br><br>
                    <div class="url">
                    <a href="" routerLink="/forgotpassword">forgot password?</a><a href="" routerLink="/register">Register</a>
                    </div>
            </form>
        </div>


    </body>
</html> 